# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Logs / local outputs
logs/
*.log

# AWS credentials (DO NOT COMMIT)
**/credentials
**/config

# Local env vars
.env